.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}


// ::ng-deep .mat-line {
//   word-wrap: break-word !important;
//   white-space: pre-wrap !important;
//   margin-bottom: 0.5rem !important;
// }

.card {
  max-width: 40rem;
  flex: 1;
  margin: 0;
  padding: 1rem;
}

@media only screen and (min-width: 425px) {
  .card {
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.question-contents:first-of-type {
  margin-top: 0;
}

.fab {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 5;
}

