<div class="wrapper">
  <mat-card class="card">
    <div class="question" *ngFor="let q of questions">
      <h4 class="question-contents mat-body-strong">
        <span *ngIf="(questionNumbersVisible$ | async)"
          >{{ q.questionNumber + 1 }}. </span
        >{{ q.question }}
      </h4>

      <p
        class="answer mat-body"
        *ngFor="let a of q.answers"
        [style.color]="a.truth ? '#81C784' : '#e57373'"
      >
        {{ a.sentence }}
      </p>
    </div>
  </mat-card>
</div>
