<div class="wrapper">
  <mat-card class="card">
    <div class="question" *ngFor="let q of questions">
      <h4 class="question-contents mat-body-strong">
        {{ q.question }}
      </h4>

      <p
        class="answer mat-body"
        *ngFor="let a of q.answers"
        [style.color]="a.answer ? '#81C784' : '#e57373'"
      >
        {{ a.sentence }}
      </p>
    </div>
  </mat-card>
</div>
<!-- 
<button *ngIf="fabVisible" class="fab" mat-fab (click)="scrollToTop()">
  <mat-icon>vertical_align_top</mat-icon>
</button> -->
