<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    class="noselect"
    *ngFor="let link of links"
    (click)="activeLink = link"
    [active]="activeLink === link"
  >
    <mat-icon class="tab-icon">{{
      link === links[0] ? "list" : "insert_chart_outlined"
    }}</mat-icon>
    {{ link }}
  </a>
</nav>

<div (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
  <app-questions
    *ngIf="activeLink === links[0]"
    [questions]="topic.questions"
  ></app-questions>

  <app-quiz
    *ngIf="activeLink === links[1]"
    [questions]="topic.questions"
  ></app-quiz>
</div>
