<div class="toolbar">
  <mat-toolbar>
    <h1 class="app-name noselect" (click)="navigateHome()">
      dedicated
    </h1>
    <span class="mat-small topic-name noselect">{{ title$ | async }}</span>
    <div class="spacer"></div>
    <button
      class="more-btn"
      (click)="openDialog()"
      mat-icon-button
      matTooltip="Ustawienia"
    >
      <mat-icon>tune</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
