h1.app-name {
  cursor: pointer;
  margin-right: 1rem;
  font-family: "Quicksand", sans-serif;
}

.spacer {
  flex: 1;
}

.toolbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  mat-toolbar {
    flex: 0 0 auto;
  }

  mat-sidenav-container {
    flex: 1 1 auto;
    overflow: auto;
    height: 100%;
  }
}

.topic-name {
  transform: translateY(0.2rem);
  color: #bbb;
}
