
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

@import "~@angular/material/theming";

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-label {
  white-space: normal !important;
}

@include mat-core();


$candy-app-primary: mat-palette($mat-gray);
$candy-app-accent: mat-palette($mat-gray, 500);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-dark-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

@include angular-material-theme($candy-app-theme);

$correct-accent: mat-palette($mat-green, 300);
$wrong-accent: mat-palette($mat-red, 300);

.correct {
  color: mat-color($correct-accent);
  // @include angular-material-theme(
  //   mat-dark-theme($correct-accent, $correct-accent, $correct-accent)
  // );
}

.correct-border {
    @include angular-material-theme(
    mat-dark-theme($correct-accent, $correct-accent, $correct-accent)
  );
   & .mat-checkbox .mat-checkbox-frame {
    border-color: mat-color($correct-accent);
  }
}

.wrong-border {
  @include mat-checkbox-theme(
    mat-dark-theme($wrong-accent, $wrong-accent, $wrong-accent)
  );

  & .mat-checkbox .mat-checkbox-frame {
    border-color: mat-color($wrong-accent);
  }
}

.wrong {
  color: mat-color($wrong-accent);

  // @include mat-checkbox-theme(
  //   mat-dark-theme($wrong-accent, $wrong-accent, $wrong-accent)
  // );
}

.noselect {
  user-select: none;
}

::selection {
  background: #bdbdbd; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: #bdbdbd; /* Gecko Browsers */
  color: white;
}

